<% obj.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef-info center">
        <%= gravatar_for(recipe.chef, size:120) %>
      </section>
    </div>
    <div class="col-md-8 recipes">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= simple_format(truncate(recipe.description, length: 150)) %></p>
      <% if recipe.ingredients.any? %>
        <p>Ingredients: <%= render recipe.ingredients %></p>
      <% end %>
      <p>
        <span class="quiet">
          <small>Created <%= time_ago_in_words(recipe.created_at) %> ago by <%= recipe.chef.chefname.titleize %></small>
        </span>

        <% if logged_in? && (current_chef == recipe.chef || current_chef.admin?) %>
          <div class="recipe-actions">
            <%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-xs btn-warning" %>
            <%= link_to 'Delete', recipe_path(recipe), method: :delete,
            data: { confirm: "Are you sure you want to delete this recipe?" },
             class: "btn btn-xs btn-danger" %>
          </div>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
