<%= render 'shared/page_title', title: @recipe.name %>

<div class="row justify-content-center">
  <div class="col-md-10 recipes">
    <h4 class="center description"><strong>Steps: </strong></h4>
    <%= simple_format(@recipe.description) %>
    <hr>
    <% if @recipe.ingredients.any? %>
      <p>Ingredients: <%= render @recipe.ingredients %> </p>
    <% end %>

    <div class="float-right", style="margin-right: 12px;">
      <p class="center"> <em> Created by: </em></p>
      <p class="center">
        <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
      </p>
      <p class="center">
        <div class="center"> <%= @recipe.chef.chefname.titleize %> </div>
        <div class="center" style="font-size: 12px;">
          <%= time_ago_in_words(@recipe.created_at) %> ago
        </div>
      </p>
    </div>
    <div class="recipe-actions">
      <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
        <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-xs btn-warning" %>
        <%= link_to 'Delete', recipe_path(@recipe), method: :delete,
        data: { confirm: "Are you sure you want to delete this recipe?" },
         class: "btn btn-xs btn-danger" %>
       <% end %>
       <%= link_to "Return to listing", recipes_path, class: "btn btn-xs btn-primary" %>
    </div>
  </div>
</div>
